@model VideoStore.Models.MovieRentModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4></h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.movie.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movie.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentStartDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentStartDateTime) 
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.ReturnDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReturnDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsReturned)
        </dt>
        <dd>
            @if (Model.IsReturned)
            {
                <span style="color:#2b6b09">Returned</span>
                
            }
            else
            {
               <span style="color:#ff6a00">Not returned</span>
            }


            
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) 
    | <a href='javascript:history.go(-1)'>Back to List</a>
</p>
